*{
  margin: 0;
  padding: 0;
  font-family: "Text Me One", "Arial", sans-serif;
}

:root{
  --retro-pink:#fea49f;
  --kabluey: #101357;
  --seventies-gold:#fbaf08;
  --funky-teal:#00a0a0;
  --awesome-green:#007f4f;
  --weird-beige:#FDF8F5;
}

@media screen and (max-width: 700px) {
  /* start of medium tablet styles */
  #portfolio-container {
    flex-direction: column;
  }


  .portfolio-column{
    width: 100%;
  }
  
}

@media screen and (max-height: 700px) {
    /* start of medium tablet styles */
    #portfolio-container {
      flex-direction: column;
    }
  
  
    .portfolio-column{
      width: 100%;
    }
    
  }

#nav{
  height: 100vh;
  width: 22%;
  background: url("../images/sidenav.png");
  background-size: cover;
  background-position: right;
  position: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  top:0;
  left:0;
  /* min-width: 100px; */
}

#nav-content{
  text-align: center;
  width:80%;
  display:flex;
  flex-direction: column;
  margin-top: 40vh;
}


#nav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  color: whitesmoke;
}


#main-container{
  display: flex;
  flex-direction: column;
  color: var(--kabluey);
  max-width: 5118px;
  background-color: var(--weird-beige);
  background-image: url("../images/noisy-texture-100x100-o4-d10-c-FDF8F5-t0.png")
}

#splash{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--retro-pink);
  height: 100vh;
  justify-content: center;
}

#splash img{
  width: 60%;
  height: auto;
  margin-left: 30vw;
  position:absolute;
}

#splash-content{
  text-shadow:
  5px 5px 0 var(--awesome-green),
  10px 10px 0 var(--funky-teal);
 
  width: 60%;
  z-index: 1;
  margin-left: 46vw;
  margin-bottom: 13vh;
}

#splash-content p{
  font-family: 'Modak', cursive;
  font-size: 8vw;
}

#splash-bottom-border{
  width: 100%;
  min-height: 50px;
}

#about{
  display: flex;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  margin-bottom: 300px;
}

#portfolio-container{
  width:100%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.portfolio-column{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#portfolio-heading{
  margin-bottom: 25px;
}

.info-block{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left:20px;
  justify-content: space-between;
  margin-top: 20px;
  min-height: 100px;
}

.info-block img{
  width: 25%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
  margin-bottom: auto;
}

.info-text{
  width:65%;
  margin-top: 8px;
  display:flex;
  flex-direction: column;
  text-justify: auto;
  border-bottom: 1px solid darkgray;
  
}

.info-text p{
  margin-top: .5em;
  font-size: .5em;
}
