*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: black;
}

:root{
  --retro-pink:#fea49f;
  --kabluey: #101357;
  --seventies-gold:#fbaf08;
  --funky-teal:#00a0a0;
  --awesome-green:#007f4f;
  --jewel-green: #163D2B;
  --weird-beige:#FDF8F5;
  --kinda-black:#1E1E1E;
  --weird-red: #F64E4D;
  --really-dark-grey: #323234;
  --halloween-orange: #DE593C;
  --banana: #F6C353;
}


h2{
  font-size: 4vw;
}

h3{
 
  font-size: 3vw;
  padding-bottom: 30px;
  text-align: center;
}

h4{
  padding-bottom: 5px;
  font-weight: 600;
  font-size:1.5vw;
  padding-bottom: 5px;
}

p{
  font-size: 1.5vw;
}

@media screen and (max-width: 700px) {
  /* start of medium tablet styles */
  #portfolio-container {
    flex-direction: column;
  }


  .portfolio-column{
    width: 100%;
  }
  
}

@media screen and (max-height: 700px) {
    /* start of medium tablet styles */
    #portfolio-container {
      flex-direction: column;
    }
  
  
    .portfolio-column{
      width: 100%;
    }
    
  }
  

#nav{
  height: 8vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top:0;
  left:0;
  z-index: 3;
  background-color: var(--jewel-green);
}

#nav-content{
  text-align: right;
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10%;

}


#nav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.2vw;
  color: var(--weird-beige)
}


#splash{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  position:fixed;
  background-color: #005745;
}


canvas{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}


#main-content{
  position: relative;
  padding-bottom: 100px;
  display:inline-block;
  overflow-x: hidden;
  overflow-y:auto;
  z-index: 2;
  color: black;
}


#title{
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  padding-bottom: 50px;
}


#title h1{
  margin-bottom:auto;
  margin-top: auto;
  color:var(--weird-beige);
  font-family: 'Limelight', sans-serif;
  font-size: 6vw;
}

#overlay{
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(120%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(120%);
  padding-top: 100px;
  padding-bottom: 100px;
}

#content-wrapper{
  padding-top: 100px;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1em;
  /* background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%); */
  padding-bottom: 100px;
  background-color: var(--weird-beige);
  background: url("../images/noisy-texture-100x100-o4-d10-c-FDF8F5-t0.png")
}


#about{
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right: auto;
  width:100%;
  margin-bottom: 300px;
  height: 100vh;
  padding-top: 15vh;
}

#about p{
  text-align: center;
  width: 50%;
  margin-left:auto;
  margin-right: auto;
}

#me{
  width: 25%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#about-facts{
  display:flex;
  flex-direction: row;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.about-column{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: auto;
  height: 80px;
  justify-content: space-between;
}





#portfolio-container{
  width:100%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}


.portfolio-column{
  display: flex;
  flex-direction: column;
  width: 80%;
}


.info-block{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left:20px;
  justify-content: space-between;
  margin-top: 20px;
  min-height: 100px;
}


.info-block img{
  width: 25%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
  margin-bottom: auto;
}

.info-block ul{
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.info-text{
  width:70%;
  margin-top: 8px;
  display:flex;
  flex-direction: column;
  text-align: justify;
  border-bottom: 1px solid var(--awesome-green);
}

