<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Baked Beans</title>
  <meta name="description" content="portfolio">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@400;900&family=Text+Me+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <div id="start-container">
    <div id="particles-js"></div>
    <div id="start-bottom">
      <div id="start-text">
        <h1>KIERA CASTNER</h1>
      </div>
      <div></div>
    </div>
  </div>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  <div class="main-container">
    <h3>About</h3>
    <div id="about">
      <h5>Hi! I am a software engineer based in Seattle. I'm interested in blankety blank blank. Check out those fancy particles. Something something something test test. 
        </br> Feel free to drop me a line! :)</h5>
    </div>
    <h3 id="portfolio-heading">Portfolio</h3>
    <div id="portfolio-container">
      <div class="portfolio-column">
        <h4>Projects</h4>

      </div>
      <div class="portfolio-column">
        <h4>Games</h4>
        <div class="info-block">
          <img src="../static/images/champs.png" />
          <div class="info-text">
            <p class="bold">Champions Online</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/game-of-thrones.jpg" />
          <div class="info-text">
            <p class="bold">Game of Thrones: A Telltale Series</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/magic.png" />
          <div class="info-text">
            <p class="bold">Magic: Legends</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/neverwinter.jpg" />
          <div class="info-text">
            <p class="bold">Neverwinter</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/sto.jpg" />
          <div class="info-text">
            <p class="bold">Star Trek Online</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/tftb.png" />
          <div class="info-text">
            <p class="bold">Tales From The Borderlands</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/twd-telltale-UK-release.jpg" />
          <div class="info-text">
            <p class="bold">The Walking Dead: Season 1</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/WalkingDeadSeason2Title.jpg" />
          <div class="info-text">
            <p class="bold">The Walking Dead: Season 2</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/warcommander.png" />
          <div class="info-text">
            <p class="bold">War Commander</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/wcra-logo.png" />
          <div class="info-text">
            <p class="bold">War Commader: Rogue Assault</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
        <div class="info-block">
          <img src="../static/images/wolf.svg" />
          <div class="info-text">
            <p class="bold">The Wolf Among Us</p>
            <p>test test test test test test test.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>